:root {
    --non-black: #5f5f5f;
    --lightblue: hsl(206,100%,52%);
    --golden: #ffe600;
    --red: hsl(3, 89%, 47%);
    --green: hsl(120, 55%, 43%);
}

/*------- est. on index --------*/

body div.body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: #3a3a3a;
}

h1#title{
    background-color: var(--golden);
    padding: 1pc;
    margin-bottom: 1.5pc;
}

#container {
    display: table;
    width: 70%;
    padding: 4% 6%;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
}
  
#divide {
    display:table-cell;
    background-color: var(--non-black);
    opacity: 0.5;
    width: 1px;
}

input.creds {
    width: 100%;
    color: var(--non-black);
    padding: 2pc 0 1.5pc 0;
    outline: none;
    border-style: none;
    border-bottom: 1px solid;
    background: transparent;
    font-size: 16px;
    font-weight: bold;
}

button {
    width: 100%;
    border-radius: 5px;
    border-color: transparent;
    background-color: #bdbdbd;
    font-size: 16px;
    padding: 0.5pc 0.25pc;
}

button:hover {
    color: #ebebeb;
    background-color: var(--lightblue);
}

button#loginButton, button#registerButton {
    margin: 4pc 0;
}

span#inner-title {
    font-size: 24px;
}

#title{
    text-align: center;
}

/*------ est. on eventFeed -------*/
button#addButton, button#editButton, button#deleteButton, button#closeDeleteButton, button#eventAdmin, button#rsoAdmin, button#rsoJoin, button#newCommentButton, button.commentEdit {
    margin: 0.5pc 0;
    color: #ebebeb;
    height: 2.5pc;
    border-radius: 5px;
    background-color: var(--lightblue);
    border-color: transparent;
}

button:hover#addButton, button:hover#editButton, button:hover#closeDeleteButton, button#eventAdmin:hover, button#rsoAdmin:hover, button#rsoJoin:hover, button#newCommentButton:hover, button.commentEdit:hover {
    background-color: hsl(206,100%,40%);
}

button#searchButton {
    margin: 0.5pc 0;
    color: hsl(206,100%,52%);
    width: 8%;
    height: 2.5pc;
    border-radius: 5px;
    border: 2px solid var(--lightblue);
    background-color: hsl(206,96%,90%);
}

button:hover#searchButton {
    background-color: hsl(206,93%,83.5%);
}

button#logoutButton, button#removeButton, button#closeEditButton {
    text-align: center;
    margin: 0.5pc 0;
    color: var(--red);
    border-radius: 5px;
    width: 100%;
    background: transparent;
}

button:hover#logoutButton, button:hover#removeButton, button:hover#closeEditButton {
    color: hsl(0, 0%, 99%);
    background-color: var(--red);
    border-color: transparent;
}

button#viewButton {
    text-align: center;
    margin: 0.5pc 0;
    color: var(--green);
    border-radius: 5px;
    width: 100%;
    background: transparent;
}

button:hover#viewButton {
    color: hsl(0, 0%, 99%);
    background-color: var(--green);
    border-color: transparent;
}

button#updateButton {
    text-align: center;
    margin: 0.5pc 0;
    color: var(--lightblue);
    border-radius: 5px;
    width: 100%;
    background: transparent;
}

button:hover#updateButton {
    color: hsl(0, 0%, 99%);
    background-color: var(--lightblue);
    border-color: transparent;
}

button#deleteButton {
    width: 15%;
    margin-top: 1pc;
    margin-right: 1.5pc;
    background-color: hsl(0, 100%, 70%);
}

button:hover#deleteButton, button:hover.deleteButton {
    background-color: var(--red);
}

button#closeDeleteButton {
    width: 15%;
    margin-top: 1pc;
}

button#editButton, button#closeEditButton {
    width: 10%;
}

#contentContainer {
    display: block;
    border-radius: 10px;
    margin:0 5%;
    min-height: 80vh;
    padding: 0.5%;
    background-color: rgba(255, 255, 255, 0.9);
}

div#queryBlock {
    display: flex; 
    justify-content: space-evenly;
    margin-bottom: 0.5%;
}

div#eventDate, div#eventDescription {
    margin-bottom: 1%;
}

input.query {
    width: 20%;
    height: 2.5pc;
    margin: 0.5pc 0;
    outline: none;
    border-radius: 5px;
    border: 1px solid #d0d0d0;
    background-color: #e0e0e0;
    font-size: 16px;
}

div#eventsBody {
    display: flex;
    flex-direction: column;
    padding: 2%;
}
div.row {
    text-align: center;
    align-items: center;
}
body>div>div>div#userBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}

table>thead>tr#eventsHead{
    background-color: #ffffff;
}

table#eventsTable, table#rsoEventsTable, table#commentsBody {
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgb(150, 150, 150);
    padding-top: 1%;
}

div.rsoEvent:hover {
    background-color: rgb(255, 255, 255);
}

#deleteBody > tr {
    background-color: transparent;
}

/*--est. on RSO Pages --*/

div#rsoDescription, div#eventDescription, div#descEdit {
    margin-bottom: 5%;
}

div#rsoOptions, div#eventOptions, div#commentOptions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input.form {
    width: 100%;
    height: 2.5pc;
    margin: 0.5pc 0;
    outline: none;
    border-radius: 5px;
    border: 1px solid #d0d0d0;
    background-color: #e0e0e0;
    font-size: 16px;
}

input.rsoQuery {
    width: 25%;
    height: 2.5pc;
    margin: 0.5pc 0;
    outline: none;
    border-radius: 5px;
    border: 1px solid #d0d0d0;
    background-color: #e0e0e0;
    font-size: 16px;
}

#overlay {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background:rgba(0, 0, 0, 0.7);
}
  
#editForm, #deleteForm {
    display: none;
    position: block;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 15% 25%;
    padding: 2% 2%;
}

table#rsoEventsTable>thead>div#queryBlock {
    background-color: #ffffff;
}

div.userComment>div.commentText {
    background-color: rgba(187, 225, 253, 0.9);
    border-radius: 10px;
}

textarea#rsoDescInput, textarea#commentBox {
    display: flex;
    width: 100%;
    height: 150px;
}